<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <a th:href="@{/}">Add New Employee</a>
        <br><br>
        <a th:href="@{/getData}">All Employee</a>
    </p>

    <form  th:action="@{/dataSubmitForm}" method="post" th:object="${emp}" >
        <p th:errors="*{empName}"></p>
        <input type="text" name="empName" id="" placeholder="Emp Name" th:field="*{empName}">
        <p th:errors="*{empTitle}"></p>
        <input type="text" name="empTitle" id="" placeholder="Emp Title" th:field="*{empTitle}">
        <input type="text" name="empSalary" id="" placeholder="Emp Salary" th:field="*{empSalary}">
        <input type="hidden" name="empID" th:field="*{id}">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>