<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p>
    <a th:href="@{/}">Add New Employee</a>
    <br><br>
    <a th:href="@{/getData}">All Employee</a>
</p>
    
<table>
    <tr>
      <th>Employee Name</th>
      <th>Employee Title</th>
      <th>Employee Salary</th>
    </tr>
    <tr th:each="emp : ${allEmp}">
      <td th:text="${emp.empName}"></td>
      <td th:text="${emp.empTitle}"></td>
      <td th:text="${emp.empSalary}"></td>
      <td>
        <a role="button" th:href="@{/(id = ${emp.id})}">update</a>
      </td>
    </tr>
   
  </table>
</body>
</html>